<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <p>
     This page has the result of creating a new alarm.
 </p>
<p>Key: <a class="js-emaillink" href="mailto:chriscoyier@gmail.com">AFGE87D5</a></p>

<p><button class="js-emailcopybtn">Copy</button></p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
