<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}

 <form action="/createresult" method="POST">
   
 Date and Time:<br>
    <input type="date" name="date" id="date">
    <input type = "time" name = "time" id="time">
    <br>
    Purpose:<br>
    <input type="text" name="purpose" value="" id="purpose">
    <br><br>

    <input type="submit" value="Submit">
 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
