<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Welcome to GauchoAlarm!</h1>
<p>
  An App that shares schedule notifications with friends.<br /><br />
  For information on how to navigate our site see the instructions below.
</p>

 <img src="http://nlp.cs.ucsb.edu/image/index.jpg" alt="Go Gauchos!" width="1200" height="480">
 
<p>
    <br />
    Start by clicking on Create Alarm at the top.<br />
    Then, after recieving the unique key that GauchoAlarm generates, you may send your code to your friends,<br />
    so that they will be alerted by the alarm to hang out. <br />
 </p>
 <p>
    If you have a code from someone who has made an alarm then click on Join Alarm.<br />
    Then, input the unique key given to you. The key is eight digits. ( i.e. 89142145) <br />
    <br />
 </p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
