<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h2>Join An Alarm</h2>
<p>Enter the key of the Alarm you want to join in.</p>
 <form action="/joinresult" method="get">
    Key of your Alarm:
 <br>
  <input type="text" name="key" value="jfu48rhgkbhdh">
 <br>
 <br>
  <input type="submit" value="Join">
 </form> 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
