<!DOCTYPE html>
<html>
{{> head }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
    padding: 20px;
    background-color: #04B431;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
</style>
<body>
 {{> nav }}
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Success!</strong> You have joined an alarm!
</div>
 <p>
        {{Massage}}
        The date is {{date}}, at {{time}}.
     The purpose is {{purpose}}.
     You can also invite your friends to join this alarm using this key: {{key}}.
     Good luck.
    </p>


 {{> bootstrap-from-cdn-body }}
</body>
</html>
